* {
    BG:    #1E1D2Fff;
    BGA:   #b4befeff;
    FG:    #D9E0EEff;
    FGA:   #F28FADff;
    BDR:   #bd93f9ff;
    SEL:   #181825ff;
    UGT:   #F28FADff;
    IMG:   #FAE3B0ff;
    OFF:   #575268ff;
    ON:    #ABE9B3ff;
}
